
body {
    font-family: Tahoma;
    position: relative;
}

.all-content {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(50%);
    -moz-transform: translateX(50%) translateY(50%);
}

h1 {
    color: white;
    background-color: #581845;
    text-align: center;
    font-size: 25px;
}

.remove-btn {
    background-color: #900C3F;
    color: white;
    border-color: #900C3F;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.list-item {
    color: #FF5733;
    font-weight: bold;
    list-style-type: none;
}

.remove-list-items {
    display: none;
}

.input-box {
    color: #900C3F;
    border: 2px solid #581845;
    width: 347px;
    height: 25px;
}

#add-skill-btn {
    background-color: white;
    color: #581845;
    border-color: #581845;
    padding: 6px;
    margin: 0 0 0 10px;
}
